.contact {
  &__container {
    row-gap: 3rem;
  }

  &__information {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__icon {
    font-size: 3rem;
    margin-right: 1rem;
    width: 3rem;

    &.custom {
      width: 2.7rem;
      margin-left: 0.3rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }

  &__content {
    background-color: $surface0;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem .25rem;

    &.has-error {
      border: 1px solid $error;
    }
  }

  &__label {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    background-color: $surface0;
    color: $text;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
  }

  textarea {
    resize: vertical;
  }

  &__button {
    font-size: 1.4rem;
  }
}
